{{!-- injected into /views/layout.hbs "{body}"-tag --}}
{{!-- title hook from routes (line 6) "title": --}}

{{!-- card-1 --}}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://devstickers.com/assets/img/pro/tee/bx82_mens.png" alt="...">
       <div class="caption">
                <h3>Android-Dev</h3>
                <p class="description">...</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
{{!-- card-2 --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://devstickers.com/assets/img/pro/tee/fom8_womens.png" alt="...">
       <div class="caption">
                <h3>Web-Dev</h3>
                <p class="description">...</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
{{!-- card-3 --}}
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://devstickers.com/assets/img/pro/tee/a8pq_mens.png" alt="...">
      <div class="caption">
                <h3>Handlebars</h3>
                <p class="description">...</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>

</div>

  
