{{!-- injected into /views/layout.hbs "{body}"-tag --}}
{{!-- title hook from routes (line 6) "title": --}}

{{!-- card-1 --}}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://devstickers.com/assets/img/pro/tee/bx82_mens.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
{{!-- card-2 --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://devstickers.com/assets/img/pro/tee/fom8_womens.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
{{!-- card-3 --}}
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://devstickers.com/assets/img/pro/tee/a8pq_mens.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>

  
