{{!-- Defualt HTML Skeleton (extended)--}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- content "hook" into ./views/index.hbs --}}
    {{{body}}}
  </body>
</html>
